<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo Nivel equipamientos</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum sequi mollitia iure totam. Excepturi ipsa facere explicabo exercitationem beatae! Veritatis perferendis blanditiis fugiat voluptatem labore magnam quas nulla animi necessitatibus!
            </p>
        </ul>
    </div>
</div>

